<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <title>巡风</title>
    {% block css %}

    {% endblock %}

    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="static/js/modernizr.min.js"></script>


</head>


<body>

<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/filter" class="logo"><span>巡风</span></a>
            </div>
            <!-- End Logo container-->


            <ul class="nav navbar-nav navbar-right pull-right">
                <li>
                    <!-- Notification -->
                    <div class="notification-box">
                        <ul class="list-inline m-b-0">
                            <li>
                                <a href="javascript:void(0);" class="right-bar-toggle">
                                    <i class="zmdi zmdi-notifications-none"></i>
                                </a>
                                <div class="noti-dot" style="display: none">
                                    <span class="dot"></span>
                                    <span class="pulse"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Notification bar -->
                </li>
                <li>
                    <a href="/loginout">退出</a>
                </li>
            </ul>
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>


        </div>
    </div>
    </div>
    </div>

    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a href="/filter"><i class="zmdi zmdi-search"></i> <span> 搜索 </span> </a>
                        <ul class="submenu">
                            <li><a href="/filter">条件筛选</a></li>
                            <li><a href="/">自定义</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/task"><i class="zmdi zmdi-archive"></i> <span> 任务 </span> </a>
                    </li>
                    <li>
                        <a href="/plugin"><i class="zmdi zmdi-puzzle-piece"></i> <span> 插件 </span> </a>
                    </li>
                    <li>
                        <a href="/analysis"><i class="zmdi zmdi-widgets"></i> <span> 统计 </span> </a>
                    </li>
                    <li class="has-submenu">
                        <a href="/config?config=nascan"><i class="zmdi zmdi-settings"></i> <span> 配置 </span> </a>
                        <ul class="submenu">
                            <li><a href="/config?config=nascan">爬虫引擎</a></li>
                            <li><a href="/config?config=vulscan">扫描引擎</a></li>
                        </ul>

                    </li>

                </ul>
                <!-- End navigation menu  -->
            </div>
        </div>
    </div>
</header>
<!-- End Navigation Bar-->


<div class="wrapper">

    {% block webinfo %}

    {% endblock %}
    <div class="side-bar right-bar">
        <a href="javascript:void(0);" class="right-bar-toggle">
            <i class="zmdi zmdi-close-circle-o"></i>
        </a>
        <h4 style="color:black !important;">插件推送</h4>
        <div class="notification-list nicescroll">
            <ul class="list-group list-no-border user-list">
            </ul>
        </div>
    </div>

</div>
<!-- jQuery  -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/detect.js"></script>
<script src="static/js/fastclick.js"></script>
<script src="static/js/jquery.slimscroll.js"></script>
<script src="static/js/jquery.blockUI.js"></script>
<script src="static/js/waves.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/jquery.nicescroll.js"></script>
<script src="static/js/jquery.scrollTo.min.js"></script>
{% block js %}
{% endblock %}
<!-- App js -->
<script src="static/js/jquery.core.js"></script>
<script src="static/js/jquery.app.js"></script>
<script src="static/plugin/sweetalert/sweetalert.min.js"></script>
<script src="static/buss/js/common.js"></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
<div style="display: none">Version:beta 1.1.0</div>
</body>
</html>
