<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <title>巡风</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/responsive.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <script src="static/js/modernizr.min.js"></script>
</head>
<body>

<div class="account-pages2"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-center">
        <a href="/filter" class="logo"><span>巡风</span></a>
    </div>
    <div class="m-t-40 card-box" style="background-color: rgba(0,0,0,0.6)">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">登录</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-20" action="login" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Account" name="account">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password" name="password">
                    </div>
                </div>
                <div class="form-group text-center m-t-30">
                    <div class="col-xs-12">
                        <button class="btn btn-bordred btn-block waves-effect waves-light" type="submit"
                                style="background-color: rgba(113,182,249,0.8);color:white">登录
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!-- end card-box-->

</div>
<!-- jQuery  -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/detect.js"></script>
<script src="static/js/fastclick.js"></script>
<script src="static/js/jquery.slimscroll.js"></script>
<script src="static/js/jquery.blockUI.js"></script>
<script src="static/js/waves.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/jquery.nicescroll.js"></script>
<script src="static/js/jquery.scrollTo.min.js"></script>
<!-- App js -->
<script src="static/js/jquery.core.js"></script>
<script src="static/js/jquery.app.js"></script>
</body>
</html>